<ion-header>
    <ion-toolbar>
        <ion-title>Highscore</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="home">
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col *ngIf="!highscore">
                <p>No highscores yet</p>
            </ion-col>
            <ion-col *ngIf="highscore">
                <p>Highscore: {{highscore}}</p>
                <p>Current Highscore holder</p>
                <img [src]="photo" *ngIf="photo" alt="photo"/>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
