<ion-header>
    <ion-toolbar>
        <ion-title>Rules</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-img style="height:50vh;"
                     src="https://images.unsplash.com/photo-1571197650032-cbc73669711b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80"></ion-img>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <p>Click on START to start a new game.</p>
                <p>Every <b>5 seconds</b> you will see a new number.</p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size="12">
                <p>Chose one of the following options if the number:</p>
                <ul style="list-style: none;">
                    <li><b>Fizz</b>: can be divided by 3</li>
                    <li><b>Buzz</b>: can be divided by 5</li>
                    <li><b>FizzBuzz</b>: can be divided by 3 AND 5</li>
                    <li><b>Number</b>: none of the above are applicable</li>
                </ul>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

