ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1532446997697-0b92fdc456fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80");

  p {
    color: whitesmoke
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.start {
  margin-top: 10vh;
}

.number {
  box-sizing: content-box;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 45px;
  border: 2px solid var(--ion-color-secondary);
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    color: var(--ion-color-primary);
  }
}

ion-row {
  margin: 2vh;
}

ion-button {
  --background: var(--ion-color-tertiary);
}

.history {
  border-radius: 10%;

  div {
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    margin: auto;
    border-radius: 10%;
  }

  .secondary {
    color: var(--ion-color-secondary)
  }

  .results {
    color: var(--ion-color-primary)
  }
}

h1 {
  color: var(--ion-color-secondary);
  margin-top: 0;
}

.fizzBuzz-buttons ion-col {
  display: flex;
  flex-direction: column;
}
