<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="play">
        <ion-icon name="game-controller"></ion-icon>
        <ion-label>Play</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="rules">
        <ion-icon name="construct"></ion-icon>
        <ion-label>Rules</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="highscore">
        <ion-icon name="trophy"></ion-icon>
        <ion-label>Highscore</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
