<ion-header>
    <ion-toolbar>
        <ion-buttons fill="outline" slot="end">
            <ion-button (click)="dismissModal()">
                Close
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center title">
                <h1>Game over</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="12">
                <p>Your score:</p>
                <p class="score">{{score}}</p>
            </ion-col>
            <ion-col class="ion-text-center">
                <p>Highscore: </p>
                <p class="score">{{highscores}}</p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col *ngIf="isNewHighScore">
                <p>🥳 New highscores! </p>
                <ion-button (click)="captureImage()">
                    Take a Winner selfie!
                </ion-button>
            </ion-col>
            <ion-col *ngIf="!isNewHighScore">
                <p>😢 No new highscores</p>
                <ion-button (click)="dismissModal()">
                    Try again
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <!--            <ion-col>-->
            <!--                <p>Highscore holder:</p>-->
            <!--                <img [src]="highscoreHolderPhoto" *ngIf="highscoreHolderPhoto" alt="photo"/>-->
            <!--            </ion-col>-->
        </ion-row>
    </ion-grid>

</ion-content>
