<ion-header>
    <ion-toolbar>
        <ion-buttons fill="outline" slot="end">
            <ion-button (click)="dismiss()">
                Close
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center title">
                <h1>Game over</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="12">
                <p>Your score:</p>
                <p class="score">{{score}}</p>
            </ion-col>
            <ion-col class="ion-text-center">
                <p *ngIf="isNewHighScore">🥳 New highscore! </p>
                <p *ngIf="!isNewHighScore">😢 No new highscore</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <p>Highscore: </p>
                <p class="score">{{highscore}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
